.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.timer {
  font-size: 50px;
  text-align: center;
}

.button {
  box-sizing: border-box;
  width: 200px;
  height: 45px;
  margin: 20px auto;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.stop-button {
  background-color: rgb(160, 52, 52);
  color: white
}

.start-button {
  background-color: rgb(13, 156, 25);
  color: white
}

.secondary-button {
  background-color: rgb(218, 216, 218);
}

.start-button:active {
  background-color:  rgb(24, 131, 33);
}

.stop-button:active {
  background-color: rgb(121, 40, 40);
}

.secondary-button:active {
  background-color: rgb(189, 177, 189);
}

@media (min-width: 1200px) {
  .timer {
    font-size: 100px;
  }
}